.item-details {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    padding: 1rem;

  .item-image {
    max-width: 60%;

    img {
      border-radius: 10px;
    }
  }

  .list-group-flush {
    margin-bottom: .5rem;
    
    .list-group-item {
      padding: .25rem;

      &:last-child {
        border-width: 0 0 1px;
      }
    }
    
    .list-group-item .term{
      margin-right: .5rem;
    }
  }
}